<div class="flex items-center justify-end px-10 bg-white h-[6rem] border-b border-borderColor" [ngClass]="{'justify-between': mediaQueryService.isMobile()}">
    @if (mediaQueryService.isMobile()) {
        <div class="w-[16rem] flex justify-center items-center">
            <img src="assets/logo.png" alt="Logo do sistema">
        </div>
    }

    <!-- Actions -->
    <div class="flex items-center gap-6">
        @if (!mediaQueryService.isMobile()) {
            <ng-icon class="cursor-pointer text-grayDarkColor hover:text-greenColor transition" name="ionSettings" size="2.2rem"></ng-icon>
        }
        <ng-icon class="cursor-pointer text-grayDarkColor hover:text-greenColor transition" name="lucideLogOut" size="2.2rem" (click)="handleLogout()"></ng-icon>

        <img 
            class="size-[4.5rem] object-cover rounded-full cursor-pointer"
            [ngClass]="{'size-[3.5rem]': mediaQueryService.isMobile()}"
            src="https://images.unsplash.com/photo-1556157382-97eda2d62296?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >
    </div>
</div>