<div
  class="flex items-center justify-end px-10 bg-surfaceColor dark:bg-surfaceColorDark h-[6rem] border-b border-borderColor dark:border-borderColorDark"
  [ngClass]="{ 'justify-between px-4': mediaQueryService.isMobile() }"
>
  @if (mediaQueryService.isMobile()) {
    <div class="flex items-center">
      <img class="w-[3.6rem] h-[3.6rem]" src="assets/logo-preta.png" alt="Logo do sistema" />
    </div>
  }

  <!-- Actions -->
  <div class="flex items-center gap-6">
    <div
      class="flex items-center gap-4 cursor-pointer border border-transparent hover:border-secundaryColor rounded-lg transaction-all py-2 px-3"
      [cdkMenuTriggerFor]="menu"
    >
      <img
        class="size-[3.8rem] object-cover rounded cursor-pointer"
        [ngClass]="{ 'size-[3.5rem]': mediaQueryService.isMobile() }"
        src="../../../assets/avatars/lorelei-1738289187655.png"
      />

      @if (!mediaQueryService.isMobile()) {
        <div>
          <h2 class="text-md font-medium">Usuário</h2>
          <p class="text-sm text-secundaryColor">exemple&#64;email.com</p>
        </div>
      }
      <ng-icon name="ionChevronDown"></ng-icon>
    </div>

    <ng-template #menu>
      <ul
        class="flex flex-col mt-2 w-[28rem] bg-white border border-borderColor shadow-md rounded"
        cdkMenu
      >
        <li class="flex items-center gap-4 p-5 border-b">
          <img
            class="size-[3.8rem] object-cover rounded cursor-pointer"
            [ngClass]="{ 'size-[3.5rem]': mediaQueryService.isMobile() }"
            src="../../../assets/avatars/lorelei-1738289187655.png"
          />

          <div>
            <h2 class="text-md font-medium">Usuário</h2>
            <p class="text-sm text-secundaryColor">exemple&#64;email.com</p>
          </div>
        </li>

        @for (item of menuList; track $index) {
          <li
            class="flex items-center gap-2 p-5 cursor-pointer hover:bg-[#f4f4f5] transaction"
            (click)="item.actionFunc()"
            cdkMenuItem
          >
            <ng-icon
              class="cursor-pointer text-grayDarkColor dark:text-white"
              [name]="item.icon"
              size="1.7rem"
            ></ng-icon>
            <span class="text-md">{{ item.txt }}</span>
          </li>
        }
      </ul>
    </ng-template>
  </div>
</div>
