:root {
    --primary: #191919;
    --secundary: #777777;
    --accent: #D33535;
    --greenColor: #6e9c90;
    --grayColor: #6e839c;
    --grayDarkColor: #444444;
    --backgroundColor: #F3F3F3;
    --surfaceColor: #FFFFFF;
    --borderColor: #DDDDDD;
    --textColor: #191919;
}