.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    
    &--authenticated {
        grid-template-columns: auto 1fr;
    }

    &__sidebar {
        width: 28.0rem;
        transition: .2s ease;

        &--close {
            width: 8rem;
        }
    }
    
    &__main{
        display: grid;
        width: 100%;
        grid-template-rows: 1fr;
        
        &--authenticated {
            grid-template-rows: auto 1fr;
        }
    }

    &__content {
        padding: 1.6rem;
    }

    &__navbar-mobile {
        display: flex;
        align-items: center;
        width: 100%;
        height: 6.4rem;
        position: fixed;
        bottom: 0;
        background-color: #fff;
    }
}