<div class="app" [ngClass]="{'app--authenticated': authService.isAuthenticated$ | async}">

  @if (authService.isAuthenticated$ | async) {
    <div class="app__sidebar" [ngClass]="{'app__sidebar--close': sidebarService.closeSidebarSignal()}">
      <app-sidebar></app-sidebar>
    </div>
  }
  <div class="app__main" [ngClass]="{'app__main--authenticated': authService.isAuthenticated$ | async}">
    @if (authService.isAuthenticated$ | async) {
      <app-header></app-header>
    }

    <div class="app__content h-full bg-backgroundColor">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
