<div
  class="app"
  [class]="{
    'app--authenticated': !mediaQueryService.isMobile(),
    dark: utilsService.darkModeSignal(),
  }"
>
  @if (!authService.sessionLoading() && (authService.isAuthenticated$ | async)) {
    @if (!mediaQueryService.isMobile()) {
      <div
        class="app__sidebar"
        [class]="{ 'app__sidebar--close': sidebarService.closeSidebarSignal() }"
      >
        <app-sidebar></app-sidebar>
      </div>
    }

    <div class="app__main">
      <app-header></app-header>

      <div
        class="app__content scroll h-full bg-backgroundColor dark:bg-backgroundColorDark"
        [class]="{ 'mb-[6.2rem]': mediaQueryService.isMobile() }"
        [style]="{ padding: mediaQueryService.isMobile() ? '.8rem' : '' }"
      >
        <router-outlet></router-outlet>
      </div>
    </div>

    @if (mediaQueryService.isMobile()) {
      <div class="app__navbar-mobile">
        <app-navbar-mobile></app-navbar-mobile>
      </div>
    }
  } @else if (!authService.sessionLoading()) {
    <router-outlet></router-outlet>
  } @else {
    <div class="flex items-center justify-center w-screen h-screen">
      <app-loader [size]="40" />
    </div>
  }
</div>
