<!-- Header -->
<app-page-header
    [title]="pageItem.txt"
    [icon]="pageItem.icon"
/>

<!-- Main -->
 <div class="grid grid-cols-2 gap-[1.6rem]">
    <div class="box">
        <h2 class="box__title">Transações</h2>
    
        <div class="box__content flex flex-col gap-8">
                <app-transitions-list
                    label="Receitas"
                    typeRef="INCOME"
                    [transitions]="incomings"
                />
                <app-transitions-list
                    label="Despesas"
                    typeRef="EXPENSE"
                    [transitions]="expenses"
                />
        </div>
    </div>

    <div class="flex flex-col gap-[1.6rem]">
        <div class="box">
            <h2 class="box__title">Resumo</h2>
    
            <div class="grid grid-cols-3 gap-6">
                <app-card title="Balanço" [value]="totalIncomings - totalExpenses" description="Balanço total do mês de x" [typeRef]="'BALANCO'"/>
                <app-card title="Receitas" [value]="totalIncomings" description="Receita total do mês de x" [typeRef]="'RECEITA'"/>
                <app-card title="Despesas" [value]="totalExpenses" description="Despesa total do mês de x" [typeRef]="'DESPESA'"/>
            </div>
        </div>

        <div class="box">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels"
                [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis"
                [xaxis]="chartOptions.xaxis"
                [fill]="chartOptions.fill"
                [grid]="chartOptions.grid"
                [tooltip]="chartOptions.tooltip"
                [legend]="chartOptions.legend"
            ></apx-chart>
        </div>
    </div>
 </div>