<div class="sheet" [ngClass]="{'sheet--active': true}">
    <div class="flex items-center gap-4 cursor-pointer hover:text-gray-700 mb-8" (click)="dialogRef.close()">
        <ng-icon name="ionArrowBack" size="2rem"></ng-icon>
        <span>Adicionar transação</span>
    </div>

    <form class="flex flex-col gap-12" [formGroup]="transitionForm">        
        <label class="input">
            <span>Valor da transação</span>
            <input type="number" placeholder="R$ 0.00" formControlName="value">
        </label>

        <label class="input">
            <span>Data</span>
            <input type="date" placeholder="Adicione um nome para a transação" formControlName="date">
        </label>
        
        <label class="input">
            <span>Nome da transação</span>
            <input type="text" placeholder="Adicione um nome para a transação" formControlName="name">
        </label>
       
        <label class="input">
            <span>Descrição</span>
            <textarea rows="3" placeholder="Adicione uma descrição" formControlName="description"></textarea>
        </label>

        <div class="flex flex-col gap-2">
            <span>Tipo</span>

            <div class="flex items-center gap-6">
                <label class="flex items-center gap-2">
                    <input class="accent-primaryColor" type="radio" value="despesa" formControlName="typeRef">
                    <span class="text-md font-medium">Despesa</span>
                </label>

                <label class="flex items-center gap-2">
                    <input class="accent-primaryColor" type="radio" value="receita"  formControlName="typeRef">
                    <span class="text-md font-medium">Receita</span>
                </label>
            </div>
        </div>

        <!-- Actions -->
        <div class="grid grid-flow-col gap-4 items-center">
            <app-button 
                [txt]="transitionData ? 'Editar Transação' : 'Adicionar Transação'" 
                [icon]="transitionData ? 'ionCreateOutline' : 'ionAddOutlined'"
                (actionEvent)="handleSubmit()"
            />

            @if (transitionData) {
                <app-button 
                    txt="Excluir" 
                    icon="ionTrashOutline"
                    [iconType]="'DELETE'"
                    (actionEvent)="deleteTransition()"
                />
            }
        </div>

    </form>

</div>