<div class="box flex items-center gap-6 h-[4.5rem] px-4">
    <button class="flex items-center text-secundaryColor hover:text-textColor transition">
        <ng-icon name="ionChevronBackOutline" size="2rem"></ng-icon>
    </button>
    
    <div class="flex items-center gap-4">
        <ng-icon name="ionCalendarOutline" size="1.7rem"></ng-icon>
    
        <h2 class="text-secundaryColor">Dezembro <b class="text-textColor">2024</b></h2>
    </div>
    
    <button class="flex items-center text-secundaryColor hover:text-textColor transition">
        <ng-icon name="ionChevronForwardOutline" size="2rem"></ng-icon>
    </button>
</div>