<div class="h-full border-r px-[1.6rem] border-borderColor dark:border-borderColorDark bg-surfaceColor dark:bg-surfaceColorDark" [ngClass]="{'px-[1rem]': sidebarService.closeSidebarSignal()}">
        <!-- Logo -->
    <div class="h-[6.4rem] flex items-center justify-center gap-3 text-[2.4rem] text-primaryColor dark:text-white">
        @if (utilsService.darkModeSignal()) {
            <img src="assets/logo-branca.png" alt="Logo do sistema">
        } @else {
            <img src="assets/logo-preta.png" alt="Logo do sistema">
        }

        @if (!sidebarService.closeSidebarSignal()) {
            <h1 class="font-medium">Future Finance</h1>
        }
    </div>

    <div class="py-[3rem]">
        <app-button 
            [txt]="!sidebarService.closeSidebarSignal() ? 'Adicionar Transação' : ''"
            icon="ionAddOutline"
            (actionEvent)="sheetService.openSheetDialog()"
        ></app-button>
    </div>

        <!-- Menu -->
    <div class="dark:text-white">
        <label class="text-md">GERAL</label>
        <ul class="flex flex-col gap-2 mt-2">
            @for (item of menu; track $index) {
                <li class="flex items-center gap-4 px-[2rem] py-[1.2rem] rounded font-semibold hover:bg-[#F1F1F1] dark:hover:bg-[#1f2626] text- transition cursor-pointer" 
                    [routerLink]="item.rota"
                    [ngClass]="{'text-greenColor bg-[#E9F4F1] dark:bg-[#1B2121] dark:text-[#4A8374] hover:border-transparent hover:bg-[#E9F4F1]': router.url === item.rota}"
                >
                    <ng-icon [name]="item.icon" size="1.8rem" ></ng-icon>

                    @if (!sidebarService.closeSidebarSignal()) {
                        {{item.txt}}
                    }
                </li>
            }
        </ul>
    </div>

    <!-- Logout -->
     <div class="fixed bottom-6 left-[24rem] cursor-pointer text-secundaryColor hover:text-primaryColor dark:hover:text-white transition"
     [ngClass]="{'left-[4rem] rotate-180': sidebarService.closeSidebarSignal()}"
     (click)="sidebarService.closeSidebarSignal.set(!sidebarService.closeSidebarSignal())">
        <ng-icon name="ionChevronBackOutline"></ng-icon>
     </div>
</div>