<div class="h-full border-r border-borderColor bg-surfaceColor">
        <!-- Logo -->
    <div class="h-[6.4rem] flex justify-center items-center">
        <img src="assets/logo.png" alt="Logo do sistema">
    </div>

    <div class="w-full py-[3rem] flex justify-center items-center">
        <app-button 
            txt="Adicionar Transação"
            icon="ionAddOutline"
            (actionEvent)="sheetService.openSheetDialog()"
        ></app-button>
    </div>

        <!-- Menu -->
    <div class="">
        <label class="text-md px-[3.2rem]">GERAL</label>
        <ul class="flex flex-col gap-2 mt-2 px-[1.6rem]">
            @for (item of menu; track $index) {
                <li class="flex items-center px-[1.6rem] gap-4 py-[1rem] font-semibold  border border-transparent hover:text-greenColor hover:border-greenColor rounded transition cursor-pointer" 
                    [routerLink]="item.rota"
                    [ngClass]="{'text-greenColor bg-[#E9F4F1] hover:border-transparent': router.url === item.rota}"
                >
                    <ng-icon [name]="item.icon" size="1.8rem" ></ng-icon>
                    {{item.txt}}
                </li>
            }
        </ul>
    </div>

    <!-- Logout -->
</div>