@use './theme/utilities';
@use './theme/variables';
@use '@angular/cdk' as cdk;
@include cdk.overlay();
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply text-textColor; /* Aplica a cor personalizada como padrão */
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Lato", sans-serif;
}

body {
    font-size: 1.6rem;
}

.cdk-overlay-dark-backdrop {
    // background-color: #ffffffcc;
    background-color: #44444415;
    backdrop-filter: blur(.4rem);
}