<li class="box animate-pulse">
    <div class="flex gap-4 items-center justify-between font-medium">
      <div class="flex gap-4 items-center">
      <!-- icon -->
        <div class="flex items-center justify-center h-16 w-16 bg-gray-300 rounded">
        </div>
      <!-- Content -->
        <div class="flex flex-col justify-between gap-4 h-full ml-2">
          <span class="h-4 bg-gray-300 rounded w-52 block"></span>
          <p class="h-4 bg-gray-300 rounded w-24 block"></p>
        </div>
      </div>
  
      <div class="flex flex-col items-end gap-4">
        <h2 class="h-4 bg-gray-300 rounded w-40 block">
        </h2>
        <p class="h-4 bg-gray-300 rounded w-20 block"></p>
      </div>
    </div>
  </li>